@import '../../css/baseStyles';
@import 'sass/components/navbar';

.skipLink {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: 1;

  &:focus {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: auto;
    background: $white;
    border: 1px dotted $grey-dark;
    padding: 1rem;
    text-decoration: underline;
  }
}

.environment-warning var {
  font-family: monospace;
}

.navbar-brand a {
  font-size: $size-5;
  color: $link;
}

.navbar-brand small {
  font-size: $size-6;
}

#content {
  outline: unset;
}
